In [2]:
#3)Implement a custom function to categorize time of day into morning, afternoon, evening, and night, 
#and create a new column in the DataFrame to store these categories. 
#Use this new column to analyze pedestrian activity patterns throughout the day.

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

url = "https://data.cityofnewyork.us/api/views/6fi9-q3ta/rows.csv?accessType=DOWNLOAD"
df = pd.read_csv(url)
df['hour_beginning'] = pd.to_datetime(df['hour_beginning'])
df.head()

,hour_beginning,location,Pedestrians,Towards Manhattan,Towards Brooklyn,weather_summary,temperature,precipitation,lat,long,events,Location1
0,2019-04-30 00:00:00,Brooklyn Bridge,3,3,0,NaN,NaN,NaN,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
1,2019-12-31 22:00:00,Brooklyn Bridge,10,9,1,cloudy,42.0,0.0005,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
2,2019-12-31 23:00:00,Brooklyn Bridge,2,0,2,cloudy,42.0,0.0004,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
3,2019-12-31 21:00:00,Brooklyn Bridge,12,0,12,cloudy,42.0,0.0036,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"
4,2019-04-01 03:00:00,Brooklyn Bridge,1,0,1,clear-night,36.0,0.0000,40.708164,-73.999509,NaN,"(40.7081639691088, -73.9995087014816)"

In [7]:
def daytime_transfer(time):
    if time > 0 and time <= 6:
        return "night"
    elif time > 6 and time <= 12:
        return "morning"
    elif time >12 and time <= 18:
        return "afternoon"
    else:
        return "evening"

In [8]:
df['daytime'] = df["hour_beginning"].dt.hour.apply(daytime_transfer)
ped_count_daytime = df.groupby('daytime')["Pedestrians"].sum()
ped_count_daytime

daytime
afternoon    6413717
evening      1020393
morning      3510902
night          87854
Name: Pedestrians, dtype: int64